name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js
      uses: actions/setup-node@v1
      
    - name: setup-docker
      uses: docker-practice/actions-setup-docker@0.0.1
  
    - run: npm install
    - run: npm install -g @angular/cli
    - run: npm run build:docker
      
    - name: Publish Docker
      uses: elgohr/Publish-Docker-Github-Action@2.8
      with:
        # The name of the image you would like to push
        name: angular-docker-nginx
        # The login username for the registry
        username: BarretCR
        # The login password for the registry
        password: ${{ secrets.Azure_Password }}
        # Use registry for pushing to a custom registry
        registry: barretcr.azurecr.io
